<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>NTSF Backend Web Server</display-name>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.cops.ntsf.filter.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>com.cops.ntsf.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>user_signup</servlet-name>
        <servlet-class>com.cops.ntsf.controller.UserSignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_signup</servlet-name>
        <url-pattern>/user_signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.cops.ntsf.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fine</servlet-name>
        <servlet-class>com.cops.ntsf.controller.FineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fine</servlet-name>
        <url-pattern>/fine</url-pattern>
    </servlet-mapping>

    <!--  <servlet>-->
    <!--    <servlet-name>AddComplaint</servlet-name>-->
    <!--    <servlet-class>com.cops.ntsf.controller.ComplaintServlet</servlet-class>-->
    <!--  </servlet>-->
    <!--    -->
    <!--  <servlet-mapping>-->
    <!--    <servlet-name>AddComplaint</servlet-name>-->
    <!--    <url-pattern>/complaint</url-pattern>-->
    <!--  </servlet-mapping>-->

    <servlet>
        <servlet-name>offence</servlet-name>
        <servlet-class>com.cops.ntsf.controller.OffenceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>offence</servlet-name>
        <url-pattern>/offence</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Policeman</servlet-name>
        <servlet-class>com.cops.ntsf.controller.PolicemanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Policeman</servlet-name>
        <url-pattern>/policeman</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PoliceStation</servlet-name>
        <servlet-class>com.cops.ntsf.controller.PoliceStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PoliceStation</servlet-name>
        <url-pattern>/policeStation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>complaint</servlet-name>
        <servlet-class>com.cops.ntsf.controller.ComplaintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>complaint</servlet-name>
        <url-pattern>/complaint</url-pattern>
    </servlet-mapping>
</web-app>
